body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.caixa{
    width: 200px;
    height: 200px;
    background-color: violet;
}

.botoes{
    display: flex;
    flex-direction: row;
}

button, input{
    margin-top: 5px;
}

